@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252; /* slate-50 */
    --foreground: 2 6 23; /* slate-950 */
  }

  body {
    @apply bg-slate-50 text-slate-950 antialiased;
  }

  /* Improved text rendering */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
